.container {
  display: flex;
  height: 80vh;
  width: 30vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 50px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.balance {
  padding-left: 20px;
}
