<div></div>
<div class="container">
  <p>Personal Details</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="" [(ngModel)]="form.firstname" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="" [(ngModel)]="form.lastname" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Company</mat-label>
      <input matInput placeholder="" [(ngModel)]="form.company" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput placeholder="address" [(ngModel)]="form.address" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="+65" [(ngModel)]="form.phone" />
    </mat-form-field>
  </p>
  <br />
  <p>Loan Details</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Loan Type</mat-label>
      <mat-select [(ngModel)]="form.loan_type">
        <mat-option *ngFor="let key of loanTypeList" [value]="key">{{
          key
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Loan Amount</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        [(ngModel)]="form.loan_amount"
      />
    </mat-form-field>
  </p>
  <br />
  <p>Balance Sheet</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Provider</mat-label>
      <mat-select [(ngModel)]="form.provider">
        <mat-option *ngFor="let key of providerList" [value]="key">{{
          key
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <button mat-button class="smoke" [disabled]="!form.provider">
      Request Balance
    </button>
  </p>
</div>
<br />
<div></div>
